extends layout

block content
    br
    br
    br
    br
    div.row
        div.col-md-4.col-md-offset-4
            h1(style = "text-align: center;") Sign up to upload your work.
                form(method='post', action='/signUp')
                     div.form-group
                        label(for='username') 
                        input#username.form-control(type='text', placeholder='Username', name='username', autofocus)
                        label(for='password') 
                        input#password.form-control(type='text', placeholder='Password', name='password', autofocus)
                        br
                    input.btn.btn-success(type='submit', value='Sign Up')