@charset "utf-8";

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.mainImage{
    height: 330px;
    margin-left:5%;
    margin-right:5%;
    border-radius: 10px;
    background-image: url("../images/mainImage.png");
}

h1{
    text-align: center;
}

h2{
    margin-top:50px;
    text-align: center;
    color:#F8F1FF;
}

h1.name{
    margin-top:10px;
    color:#F8F1FF;
}

.uploadInfo{
    margin-right:10%;
    text-align: center;
}

#logInBtn{
    margin-right: 5%;
    margin-left: 16%; 
    float: left; 
    width:30%;
}

#signUpBtn{
    float: left;
    width:30%;
}

h2.uploadHeading{
    color:black;   
}

.glyphicon{
    font-size: 8em;
}
